* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

nav {
	z-index: 1;
}

body {
	background-image: url('https://e0.pxfuel.com/wallpapers/520/1013/desktop-wallpaper-cool-landscape-night-minimal-art-laptop-minimalist-and-background-minimalist-laptop.jpg');
	background-size: cover;
}

html {
	position: relative;
	min-height: 100%;
}

main {
	min-height: calc(100vh - 140px);

	& > section,
	& > section.jumbotron {
		background: none;
		color: white;
		padding-top: 2rem;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

footer {
	font-size: 13px;
	z-index: 1;
}

.blur-effect {
	min-width: 100%;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.253);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.7px);
	-webkit-backdrop-filter: blur(7.7px);
	border: 1px solid rgba(0, 0, 0, 0.09);
}

.home-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	min-height: 100%;
}

.home-container h1 {
	width: 100%;
	color: #000;
}

.home-container figure {
	width: 60%;
	max-width: 500px;
}

.home-container figure img {
	width: 100%;
	border-radius: 10px;
}

.options {
	width: 40%;
}

.options a {
	display: inline-block;
	text-decoration: none;
	color: #333;
	background: white;
	padding: 40px;
	font-size: 24px;
	border: none;
	border-radius: 10px;
}

.options a:hover {
	transform: scale(1.1);
}

.form-filter {
	width: 100%;
}

.form-filter > div {
	display: flex;
	justify-content: space-between;
}

.input-group {
	width: 40%;
	flex-wrap: nowrap;
}

.input-group select {
	border-radius: 4px;
	border: 1px solid #ced4da;
	height: 38px;
	width: 100%;
}

.search-container {
	width: 59%;
	display: flex;
	height: 38px;
}

table {
	background-color: #ffffffe0;
	border-radius: 4px;
}

.my-form {
	width: 60%;
}

.my-form label {
	color: #000;
	font-weight: 600;
}

.my-form .actions {
	margin-top: 10px;
}

.navbar a {
	color: white;
}

.index {
	display: grid;
	row-gap: 10px;
	margin: 20px 10%;
	background-color: rgba(216, 216, 216, 0.521);
	padding: 20px;
	border-radius: 10px;
}

.details hr {
	border-top: 2px solid #000;
}

.button_to {
	display: inline-block;
}
